<div class="row" id="mainBackground">
  <div class="small-10 small-offset-1 columns">
  	<% if @notes.first == nil %>
  		<%= link_to new_wine_path do %>
  			<p class="alert-message user_wines_alert">You have no notes. Click here to get started</p>
  		<% end %>
  	<% else %>
  		<h5 class="head">Your notes</h5>   
    	<%= render "/partials/show_user_notes" %>
    <% end %>
  </div>
</div>