<div class="row" id="mainBackground">
  <div class="small-10 small-offset-1 columns"> 
  	<div class="mainDisplay"> 
			<div class="row" id="userWineMain">
		  	<div class="small-12 columns">
		  		<div class="backLink">
						<i class="fa fa-long-arrow-left"></i>	
						<%= link_to 'back to notes', notes_path %>
					</div>
					<%= render "/partials/show_wine" %>
					<div class="small-3 columns">				
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>

<div class="row" id="notesArea">
  <div class="small-10 small-offset-1 columns">
		<%= render "/partials/show_note" %>
	</div>
</div>


