<div class="homepage">
    <div class="homepage-inner">
        <div class="row" id="welcome">
            <div class="small-6 columns small-offset-3 text-center">
                <%= link_to wines_path do %>
                	<h1>CellarBook</h1>
                <% end %>	
            </div>
        </div>
    </div>
</div>
