<div class="homepage">
    <div class="homepage-inner">
        <div class="row" id="welcome">
            <div class="small-6 columns small-offset-3 text-center">
                <%= link_to wines_path do %>
                	<h1 class="homepageTitle">CellarBook</h1>
                	<h3 class="homepageCopy">Wine storage and tasting notes</h3>
                <% end %>	
            </div>
        </div>
    </div>
</div>
