<div class="row">
	<div class="small-12 columns">
		<table>
			<thead>
			    <tr>
				    <th>Name</th>
				    <th>Wines</th>
			      	<th>Notes</th>
			    </tr>
			</thead>
			<tbody>
			<% @users.each do |user| %>	
				<tr>
					<td><%= link_to user.name.titleize, user_path(user) %></td>
					<td><%= user.wines.count %></td>
					<td><%= user.notes.count %></td>
				</tr>
			<% end %>		
			</tbody>
		</table>
	</div>
</div>