/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.homepage {
	width:100%;
	height:100%;
	background-image: url("cellar8.jpg");
	background-size:cover;
}

.homepage-inner {
	 width:100%;
	 height:100%;
	 background-color: rgba(0,0,0,0.2);
}

.homepage #welcome {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
 
.homepage #welcome h1 {
	color:white !important;
}

.homepageTitle {
	font-size: 66px;
}

.homepageCopy {
	font-size: 33px;
	color: white;
}

.alert-message {
	background-color: orange;
	color: white;
	font-size: 14px;
	padding: 20px 20px;
	margin-top: 60px;
}

.formArea {
	margin: 0 auto;
	margin-top: 20px;
}

.userForm {
	text-align: left;
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
	margin-top: 20px
}

.userForm h1 {
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
	font-size: 33px;
}

.userForm h3 {
	color: white;
	padding-left: 30px;
}

.userForm label {
	font-weight: 110;
	font-size: 14px !important;
}

.userForm .submitButton {
	height: 50px;
	width: 100%;
	margin: 10px auto;
	color: white;
	background-color: #008CBA;
	border: none;
}

.submitButton {
	height: 50px;
	max-width: 400px;
	color: white;
	border: none;
	font-size: 20px;
}

#submitButtonContainer {
	margin: 0px auto;
	text-align: center;
}


#textInput {
	text-align: left;
	display: block;
	margin: 0px auto !important;
	padding: 0px;
	margin-bottom: 20px;
	max-width: 400px;
}

#note_appearance, #note_nose, #note_palate, #note_conclusion {
	clear: both;
	float: left;
	height: 100%;
	width: 100%;
}

#signInText {
	text-align: left;
	display: block;
	margin: 0px auto !important;
	padding: 0px;
	margin-bottom: 20px;
	max-width: 400px;
}

label {
	font-size: 20px !important;
}

#topNav {
	background-color: black !important;
	background-size: cover;
}

#mainBackground {
	background-color: #272727 !important;
	background-size: cover;
	padding-bottom: 20px;
}

#subNav, #notesArea {
	background-color: #F4F3F3 !important;
}

.top-bar .name h1 a {
	padding-left: 0px !important;
}

#addNoteToDrink {
	position: relative;	
	min-height: 250px;
	padding: 0px;
}

#addNoteButton {
	position: absolute;
	right: 0px;
	margin: 0px;
	bottom: 0px;
}

#toDrink {
	clear: right;
	float: right;
	color: white;
	padding: 16px 23px;
	text-align: center;
	background-color: red;
}

.head {
	margin-top: 20px;
	color: white;
}

.backLink {
	margin: 20px 0px;
	color: white !important;
}

table, .wineForm {
	margin: 0 auto;
	margin-top: 20px;
}

.sub-nav li {
	margin-left: 0px;
}

#addNoteToDrink {
	float: right;
}

#newNoteForm {
	display: none;
}

.active {
	border-bottom-width: 3px;
	border-bottom-color: blue;
}

.field {
	max-width: 300px;
	display: inline-block;
	margin: 0 auto;
}

.wineName {
	font-size: 33px;
	color: white;
}

.wineDetails {
	position:relative;
	padding-bottom: 10px;
	min-height: 250px;
	color: white;
}

.wineSpec {
	position: absolute;
	bottom: 0px;
}


.showImage {
	display: inline-block;
	vertical-align: middle;
	min-height: 250px;
}

.subNav {
	display: inline;
	margin: 5px;
}


/*WINES LISTING*/

.wines_container {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	border-radius: 5px;
}

.wines_content {
	padding: 40px;
	overflow: auto;
	position: relative;
}

.wines_image {
	display: inline;
	float: left;
	margin-right: 40px;
}

.wines_details {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 195px;
}

.wine_link {
	font-style: 200;
	font-size: 14px;
	color: white;
	background-color: orange;
	border-radius: 3px;
	padding: 2px 10px;
}

.wines_producer {
	margin-top: 15px;
	margin-bottom: 0px;
}

.wines_name {
	margin: 0px;
}

.display_wine_link_container{
	position: absolute;
	bottom: 0px;
}

.display_wine_link {
	text-align: center;
	background-color: #008CBA;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 10px 40px;
	width: 100%;
	font-size: 20px;
	bottom: 0px;
}

/*END OF WINES LISTING*/

/*NOTES LIST*/

.note_username, .note_date {
	display: inline-block;
	margin-right: 30px;
}

.note_container {
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-top: 30px;
}

.note_container:hover {
	background-color: #DDDDDD;
}

.note_content {
	padding: 40px;
	color: black;
}


/*END OF NOTES LIST*/
